
.center{
    margin-top: 5%;
    text-align: center;
}
.title-order{
    max-width: 30%;
}
.table{
    width: 90%;
    margin: 25px auto;
    background-color: #fdfdfd;
}
td{
    height: 80px;
}
th{
    height: 50px;
    font-size: 18px;
    color: rgb(221, 61, 61);
}
.pagination{
    justify-content: center;
}
.modal-content{
    height: 40rem;
}
.modal-dialog {
    display: flex;
    min-width: 60%;
}
.modal-footer{
    display: flex;
    margin: 0 auto;
}
.color-modal{
    font-size: 19px;
    color: rgb(255, 9, 9);
}